<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<div id="app">
		<div class="container">
			<div class="jumbotron">
				<h1>Lista de temas para estudiar</h1>
				<hr/>
				<ul class="list-group">
					<li class="list-group-item" v-for="it in tareas">{{it}}</li>
				</ul>	
				<hr/>
				<ul class="list-group">
					<li class="list-group-item" v-for="it in personas">{{it.nombre}}, {{it.edad}}</li>
				</ul>					
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var myApp = new Vue({
			el: "#app",
			data: {
				tareas: ["HTML5", "CSS3", "ReactJs", "VueJs", "Otra cosa"],
				personas: [
					{
						nombre: "Juan",
						edad: 10
					},
					{
						nombre: "María",
						edad: 18
					}
				]
			}
		});
	</script>
</body>
</html>